{{ define "index" }}# {{ .Title }}

## Provider
```hcl
provider "kong" {
  admin_api_url = "http://localhost:8001"
  rbac_token = "foobar"
}
```

## Resources
{{ range $r := .Resources}}
- [`{{$r}}`](https://alexashley.github.io/terraform-provider-kong/{{$r}}){{end}}
{{end}}
