{{ define "base" }}# [{{ .Resource.Name }}]({{ .Resource.Src}})
{{ .Meta.Description }}
### Example usage

~~~hcl
{{ .Meta.Example }}~~~

~~~js
const a = async () => Promise.resolve('a');

console.log(await a());
~~~

### Fields Reference
The following fields are supported:


| field     | explanation     | type      | default     | required                         |
| :-------- | :-------------- | :-------- | :---------- | :------------------------------- |{{ range .Resource.UserProvidedAttributes}}
|`{{.Name}}`|{{.Description}} |`{{.Type}}`| {{.Default}}| {{if .Required}}Y{{else}}N{{end}}|{{ end }}


{{ if.Resource.ComputedAttributes }}### Computed Fields
The following computed attributes are also available:

| field     | explanation     | type    |
|-----------|-----------------|---------|{{ range .Resource.ComputedAttributes}}
|`{{.Name}}`|{{.Description}} |{{.Type}}|{{ end }}{{end}}
{{ if .Resource.CanImport }}
### Import
{{ .Meta.Import }}{{ end }}
[GitHub](https://github.com/alexashley/terraform-provider-kong)
{{ end }}
